html {
  font-size: 1rem;
}

.Logocodocodo {
  width: 8%;
}
#navbarbrand {
  color: #f7ffff;
}

.navbar {
  /*color del Heaer*/
  background-color: #353a40;
}

#verde {
  /*color verde boton del navbar*/
  color: #198754;
}
#verde:hover {
  color: rgb(47, 204, 47);
}

.navbar-nav a {
  /*color x defecto letra del navbar*/
  color: #90939a;
  font-family: Arial, Helvetica;
}
.navbar-nav a:hover {
  color: #f7ffff;
}

#ticket:hover {
  background-color: rgb(47, 204, 47);
}

/*FOTO DEL BANNER*/
.imgFondoDifuminado {
  width: 100%;
  height: 800px;
  background-image: url("/img/hawaii.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentacion {
  text-align: end;
  position: absolute;
  top: 80%;
  right: 5%;
  color: #f7ffff;
}

.SECTION2 {
  text-align: center;
}

.tarjeta {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #f9c221;
  margin-left: 2%;
}

.Steve {
  display: flex;
  justify-content: start;
  align-items: center;

  padding: 1px;
}
#tamañoIMG {
  width: 286px;
  margin-left: -12px;
}

.javascript {
  text-decoration: none;
  color: black;
  width: 120px;
  background-color: #ffc107;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  font-weight: 700;
  font-size: 0.7rem;
}

.react {
  text-decoration: none;
  color: white;
  width: 120px;
  background-color: #0374b1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  font-weight: 700;
  font-size: 0.7rem;
}

.negocios {
  text-decoration: none;
  color: white;
  width: 120px;
  background-color: #6c757d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  font-weight: 700;
  font-size: 0.7rem;
}
.startups {
  text-decoration: none;
  color: white;
  width: 120px;
  background-color: #dc3545;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  font-weight: 700;
  font-size: 0.7rem;
}

.cajaBsAs {
  background-color: #353a40;
  height: 420px;
  margin-left: -4%;
  margin-top: 20px;
}
.blancoBoton {
  color: #fbf9f2;
}

span {
  text-decoration: underline dotted;
}

.centerr {
  color: #d7ebf5;
  background-color: #1e4c66;
  height: 94px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 414px) {
  .presentacion {
    top: 50%;
    right: 3%;
  }
}
@media (max-width: 412px) {
  .presentacion {
    top: 50%;
    right: 3%;
  }
}

@media (max-width: 360px) {
  .presentacion {
    top: 50%;
    right: 3%;
  }
  .Logocodocodo {
    width: 30%;
  }
}
@media (max-width: 320px) {
  .presentacion {
    top: 60%;
    right: 3%;
  }
}

@media (max-width: 320px) {
  .btn {
    width: 153px;
    padding-top: 230%;
    margin-left: -10%;
  }

  .Logocodocodo {
    width: 30%;
  }
}

@media (max-width: 718px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
}
@media (max-width: 622px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
}
@media (max-width: 616px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
}
@media (max-width: 414px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .Logocodocodo {
    width: 30%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}
@media (max-width: 412px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .Logocodocodo {
    width: 30%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -15px;
  }
}

@media (max-width: 390px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}
@media (max-width: 384px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .Logocodocodo {
    width: 30%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}

@media (max-width: 375px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 360px;
    display: block;
    text-align: center;
    padding-top: 3%;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}

@media (max-width: 360px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}
@media (max-width: 320px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}
@media (max-width: 301px) {
  .centerr {
    color: #d7ebf5;
    background-color: #1e4c66;
    height: 350px;
    display: block;
    text-align: center;
    padding-top: 3%;
    flex-wrap: wrap;
  }
  .cajaBsAs {
    background-color: #353a40;
    height: 450px;
    margin-left: -4%;
    margin-top: -4px;
  }
  #navbarbrand {
    color: #f7ffff;
    margin-left: -5px;
  }
}

#cuadroAzul {
  padding: 20px;
  border: 2px solid #007bff;
}

#cuadroCeleste {
  padding: 20px;
  border: 2px solid #17a2b8;
}

#cuadroAmarillo {
  padding: 20px;
  border: 2px solid #ffc107;
}

.boton {
  text-align: center;
  display: inline-block;
  color: #fff;
  background-color: #97c93e;
  margin: 2px;
  padding: 3px 89px;
  border-radius: 6px;
  border-color: #97c93e;
}

#formulario {
  height: 10%;
  padding: 33px;
  margin: auto;
  margin-top: auto;
  border-radius: 4px;
  font-family: "calibri";
}

.control {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  padding: 4px;
}

.categoria1 {
  border-radius: 4px;
  padding: 4px;
  width: 180%;

  gap: 0px;
}

.categoria2 {
  border-radius: 4px;
  padding: 7px;
  width: 285%;

  margin-left: -187%;
}

#totalAPagar {
  background-color: #cce5ff;
  padding: 1rem;
}

.ford {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.foru {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

#nombre {
  width: 47%;
  border-radius: 3px;
  padding: 3px;
}

#apellido {
  width: 47%;
  border-radius: 3px;
  padding: 3px;
}
